<%= simple_form_for(@task_list) do |f| %>
 <%= f.error_notification %>

 <div class="form-inputs">
 	<%= f.input :favorite %>
 </div>

</br>
Tarefas
</br>

 <%= f.simple_fields_for :tasks do |t| %>
 <%= t.input :name , :readonly=>true  %>
 <%= t.input :description, :readonly=>true  %>
<% end %>

 <div class="form-actions">
 <%= f.button :submit %>
 </div>
<% end %>